@font-face {
  font-family: "RFDewiExpanded";
  src: url("./fonts/RFDewiExpandedBold.otf") format("otf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  margin: auto;
  max-width: 70rem;
}
.container--wrapper {
  padding: 120px 0;
}
.container--flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  padding: 2rem;
}
.header--image {
  background-image: url(./images/header.png);
  height: 36rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__container--absolute {
  position: absolute;
  left: 0;
  right: 0;
}

.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav__list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nav__link {
  font-family: "RFDewiExpanded";
  font-weight: 800;
  font-size: 14px;
}
.nav__span {
  font-weight: 400;
  font-size: 14px;
}

.link {
  text-decoration: none;
}
.link--white {
  color: white;
}

.title {
  text-align: center;
  font-weight: 800;
}
.title--wrapper {
  margin-bottom: 64px;
  max-width: 635px;
}
.title--max-w-xl {
  max-width: 1340px;
}
.title__h1 {
  font-size: 60px;
}
.title__h2 {
  font-size: 48px;
}
.title__h3 {
  font-size: 20px;
}
.title--white {
  color: white;
}
.title--black {
  color: #191919;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  padding: 22px 35px;
  font-size: 16px;
  font-weight: 800;
}
.button--rounded {
  border: none;
  border-radius: 16px;
}
.button--primary {
  color: #353535;
  background-color: #f4df74;
}
.button--center {
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__title {
  font-size: 25px;
  font-weight: 800;
  font-family: "RFDewiExpanded";
}
.logo__description {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.logo--white {
  color: white;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.text--center {
  text-align: center;
}
.text--wrapper {
  margin: 0 auto 70px;
  max-width: 640px;
}
.text--black {
  color: #1a1a1a;
}
.text--white {
  color: white;
}

.gallery {
  display: grid;
  gap: 32px;
}
.gallery--col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.gallery--col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.footer {
  padding: 64px 0 32px;
}
.footer--black {
  background-color: #191919;
}
.footer--underline-black {
  border-top: 1px solid #2c2c2c;
}
.footer__nav {
  margin-bottom: 32px;
}

.section--gray {
  background-color: #eeeeee;
}
.section--white {
  background-color: white;
}
.section--black {
  background-color: #191919;
}

.about-card__image {
  margin-bottom: 32px;
}
.about-card__hgroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cooperation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cooperation--wrapper {
  max-width: 640px;
  margin: auto;
}
.cooperation__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.image--rounded {
  border-radius: 16px;
}/*# sourceMappingURL=style.css.map */