@import url("./fonts/stylesheet.css");

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-center-horizontal {
  position: absolute;
  left: 0;
  right: 0;
}

@mixin bg-image($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  position: relative;
  margin: auto;
  max-width: 70rem;

  &--wrapper {
    padding: 120px 0;

    @media (max-width: 768px) {
      padding: 60px 0;
    }
  }

  &--flex {
    height: 100%;
    @include flex-center;
    flex-direction: column;
  }
}

.nav {
  width: 100%;

  &--absolute {
    @include absolute-center-horizontal;
    z-index: 2;

    @media (max-width: 768px) {
      bottom: 0;
    }
    @media (min-width: 768px) {
      top: 0;
    }
  }

  &__list {
    @include flex-between;
    gap: 32px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link {
    font-family: "RF Dewi Expanded", "Inter", sans-serif;
    font-weight: 800;
    font-size: 14px;
  }

  &__span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
}

.header {
  padding: 2rem;

  &--image {
    height: 36rem;
    @include bg-image("./images/header.png");
  }

  &__nav {
    @media (max-width: 425px) {
      display: none;
    }
  }
}

.link {
  text-decoration: none;

  &--white {
    color: white;
  }

  &:hover {
    opacity: 70%;
  }
}

.title {
  text-align: center;
  font-weight: 800;
  font-family: "RF Dewi Expanded", "Inter", sans-serif;

  &--wrapper {
    margin-bottom: 64px;
  }

  &__h1 {
    font-size: 60px;

    @media (max-width: 1024px) {
      font-size: 35px;
    }

    @media (max-width: 640px) {
      font-size: 30px;
    }
  }
  &__h2 {
    font-size: 48px;

    @media (max-width: 1024px) {
      font-size: 30px;
    }

    @media (max-width: 640px) {
      font-size: 25px;
    }
  }
  &__h3 {
    font-size: 24px;

    @media (max-width: 1024px) {
      font-size: 20px;
    }

    @media (max-width: 640px) {
      font-size: 18px;
    }
  }
  &--white {
    color: white;
  }
  &--black {
    color: #191919;
  }
}

.header__title {
  @include flex-center;
  flex-direction: column;
}

.button {
  cursor: pointer;
  padding: 22px 35px;

  font-size: 16px;
  font-weight: 800;

  &--rounded {
    border: none;
    border-radius: 16px;
  }

  &--primary {
    color: #353535;
    background-color: #f4df74;
    font-family: "RF Dewi Expanded", "Inter", sans-serif;

    &:hover {
      background-color: #fff58a;
    }
    &:active {
      background-color: #dec95e;
    }
  }

  &--center {
    margin: 0 auto;
  }
}

.logo {
  @include flex-center;
  flex-direction: column;

  &__title {
    font-size: 25px;
    font-weight: 800;
    font-family: "RF Dewi Expanded", "Inter", sans-serif;
    z-index: 99;
  }
  &__description {
    font-family: "RF Dewi", "Inter", sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    z-index: 99;
  }
  &--white {
    color: white;
  }
  &--absolute {
    @include absolute-center-horizontal;
    top: 0;
  }
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  &--center {
    text-align: center;
  }
  &--wrapper {
    margin: 0 auto 70px;
    max-width: 640px;
  }
  &--black {
    color: #1a1a1a;
  }
  &--white {
    color: white;
  }
}

.gallery {
  display: grid;
  gap: 32px;

  &--col-2 {
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &--col-3 {
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.footer {
  padding: 64px 32px 32px;

  &--black {
    background-color: #191919;
  }
  &--underline-black {
    border-top: 1px solid #2c2c2c;
  }

  &__nav {
    margin-bottom: 32px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      align-content: center;
      flex-wrap: wrap;
    }
  }

  &__logo {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.section {
  padding: 0 32px;

  &--gray {
    background-color: #eeeeee;
  }
  &--white {
    background-color: white;
  }
  &--black {
    background-color: #191919;
  }

  &--padding-bottom {
    padding-bottom: 170px;
  }

  &--padding-top-l {
    padding-top: 170px;
  }

  &--padding-top-xl {
    padding-top: 700px;

    @media (max-width: 768px) {
      padding-top: 1100px;
    }
  }
}

.about-card {
  &__image {
    margin-bottom: 32px;
  }
  &__hgroup {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.cooperation {
  display: grid;
  gap: 32px;

  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &--wrapper {
    max-width: 640px;
    margin: auto;
  }

  &__card {
    @include flex-center;

    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }

  &__image {
    max-width: 110px;
  }
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  &--rounded {
    border-radius: 16px;
  }
}

.action-window {
  width: 100%;
  padding: 80px 0;
  overflow: hidden;

  &--bg-presentation {
    @include bg-image("./images/presentation.png");
  }

  &--bg-realization {
    @include bg-image("./images/realization.png");
  }

  &--flex {
    flex-direction: column;
    @include flex-center;
  }

  &--absolute {
    position: absolute;
    top: 50%;
    z-index: 99;
  }

  &--rounded {
    border-radius: 16px;
  }

  &--no-bottom {
    padding-bottom: 0;
  }

  &__title {
    margin-bottom: 32px;

    &--max-w-l {
      max-width: 400px;
    }
    &--max-w-xl {
      max-width: 600px;
    }
  }

  &__gallery {
    width: 100%;
    @include flex-center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    &-card {
      position: relative;
      height: 100%;
    }

    &-link {
      width: 100%;
    }

    &-image {
      position: relative;
      bottom: -4px;
      width: 100%;
      max-height: 460px;
      height: auto;
    }

    &-text {
      position: absolute;
      bottom: 25px;
      left: 25px;

      font-family: "RF Dewi Expanded", "Inter", sans-serif;
      font-size: 24px;
      font-weight: 800;
    }

    &--black {
      background-color: #191919;
    }
  }
}

.hgroup {
  padding: 0 32px;

  &--flex {
    @include flex-center;
    flex-direction: column;
  }
}

.product {
  &__name {
    font-size: 24px;
    font-family: "RF Dewi", "Inter", sans-serif;
  }
  &__price {
    font-size: 18px;
    font-family: "RF Dewi", "Inter", sans-serif;
  }
}
