@import "../abstracts/functions";
@import "../abstracts/variables";
@import "../abstracts/mixins";

.container {
  position: relative;
  margin: 0 auto;
  max-width: calc-size(280);

  &--flex {
    height: 100%;
    @include flex-center;
    flex-direction: column;
  }

  &--wrapper {
    padding: $spacing-xl 0;

    @include mobile {
      padding: $spacing-l 0;
    }
  }
}
