@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.footer {
  padding: $spacing-l $spacing-m $spacing-m;

  &--black {
    background-color: $color-black;
  }

  &--underline-black {
    border-top: calc-size(0.25) solid $color-black-secondary;
  }

  &__nav {
    margin-bottom: $spacing-l;

    @include mobile {
      @include flex-start;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
