@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.header {
  padding: $spacing-m;

  &--image {
    height: calc-size(144);
    @include bg-image("./images/header.png");
  }

  &__nav {
    @include mobile {
      display: none;
    }
  }
}
