@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.section {
  padding: 0 $size-l;

  &--gray {
    background-color: $color-gray;
  }
  &--white {
    background-color: $color-white;
  }
  &--black {
    background-color: $color-black;
  }

  &--padding-bottom {
    padding-bottom: calc-size(42.5);
  }

  &--padding-top-l {
    padding-top: calc-size(42.5);
  }

  &--padding-top-xl {
    padding-top: calc-size(175);

    @include mobile {
      padding-top: calc-size(275);
    }
  }
}
