@import "../abstracts/functions";
@import "../abstracts/variables";
@import "../abstracts/mixins";

.button {
  cursor: pointer;
  padding: $size-m $size-l;

  font-size: $size-s;
  font-weight: 800;

  &--rounded {
    border: none;
    border-radius: $size-s;
  }

  &--primary {
    color: $color-black-secondary;
    background-color: $color-primary;
    font-family: $font-family-primary;

    &:hover {
      background-color: $color-primary-hover;
    }
    &:active {
      background-color: $color-primary-active;
    }
  }

  &--center {
    margin: 0 auto;
  }
}
