@import "../abstracts/functions";
@import "../abstracts/variables";

.cooperation {
  display: grid;
  gap: $size-l;

  grid-template-columns: repeat(4, 1fr);

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }

  &__card {
    @include flex-center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: calc-size(5);
  }

  &--wrapper {
    max-width: calc-size(160);
    margin: auto;
  }
}
