@import "../abstracts/functions";
@import "../abstracts/variables";
@import "../abstracts/mixins";

.floating-card {
  width: 100%;
  padding: calc-size(20) 0;

  &--bg-presentation {
    @include bg-image("./images/presentation.png");
  }

  &--bg-realization {
    @include bg-image("./images/realization.png");
  }

  &--flex {
    flex-direction: column;
    @include flex-center;
  }

  &--absolute {
    position: absolute;
    top: 50%;
    z-index: 99;
  }

  &--rounded {
    border-radius: $radius-xl;
  }

  &--no-bottom {
    padding-bottom: 0;
  }
}

.floating-card__title {
  margin-bottom: $size-xl;

  &--max-w-l {
    max-width: calc-size(100);
  }
  &--max-w-xl {
    max-width: calc-size(150);
  }
}

.floating-card__gallery {
  width: 100%;
  @include flex-center;

  @include mobile {
    flex-direction: column;
  }

  &-card {
    position: relative;
    height: 100%;
  }

  &-link {
    width: 100%;
  }

  &-text {
    position: absolute;
    bottom: $size-m;
    left: $size-m;

    font-family: $font-family-primary;
    font-size: $size-m;
    font-weight: 800;
  }

  &--black {
    background-color: $color-black;
  }
}
