@import "../abstracts/variables";
@import "../abstracts/mixins";

.hgroup {
  padding: 0 $spacing-m;

  &--flex {
    @include flex-center;
    flex-direction: column;
  }
}

.about-card__hgroup {
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
}
