@import "../abstracts/functions";
@import "../abstracts/variables";
@import "../abstracts/mixins";

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  &--rounded {
    border-radius: $border-radius;
  }
}

.product__image {
  @extend .image;
  @extend .image--rounded;
  margin-bottom: $spacing-s;
}

.about-card__image {
  @extend .image;
  @extend .image--rounded;
  margin-bottom: $spacing-m;
}

.cooperation__image {
  @extend .image;
  max-width: calc-size(30);
}

// Стили для изображений в галерее акционных окон
.action-window__gallery-image {
  @extend .image;
  position: relative;
  max-height: 460px;
}
