@import "../abstracts/functions";
@import "../abstracts/variables";
@import "../abstracts/mixins";

.product {
  &__name {
    font-family: $font-family-secondary;
    font-size: $size-m;
  }

  &__price {
    font-family: $font-family-secondary;
    font-size: calc-size(4.5);
  }
}
