@import "../abstracts/functions";
@import "../abstracts/variables";
@import "../abstracts/mixins";

.product-card {
  display: flex;
  flex-direction: column;
  gap: $spacing-s;

  &__name {
    font-family: $font-family-secondary;
    font-size: calc-size(6);
    text-align: center;
  }

  &__price {
    font-family: $font-family-secondary;
    font-size: calc-size(4.5);
  }
}
