// Цвета
$color-primary: #f4df74;
$color-primary-hover: #fff58a;
$color-primary-active: #dec95e;

$color-black: #191919;
$color-black-secondary: #353535;

$color-white: #fff;
$color-gray: #eeeeee;

// Шрифты
$font-family-base: "Inter", sans-serif;
$font-family-primary: "RF Dewi Expanded", $font-family-base;
$font-family-secondary: "RF Dewi", $font-family-base;

// Размеры
$main-size: 0.25rem;

$size-2xl: $main-size * 32;
$size-xl: $main-size * 16;
$size-l: $main-size * 8;
$size-m: $main-size * 6;
$size-s: $main-size * 4;
$size-xs: $main-size * 3.5;

$radius-xl: 1rem;

// Брейкпоинты
$breakpoint-mobile: $main-size * 192;
$breakpoint-tablet: $main-size * 256;
$breakpoint-desktop: $main-size * 320;
